@import url('https://fonts.googleapis.com/css2?family=Chivo');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main-header .logo {
  font-family: 'Chivo', 'Times New Roman', serif;
  font-weight: bold;
  font-size: 24px;
}

body {
  font-family: 'Roboto', sans-serif;
}

